@media all and (max-width: 500px) {

/* intention : ne plus conserver qu'une seule colonne

/* BODY / CONTENEUR : supprimer toute marge */

body {
	margin: 0;
}

#conteneur {
	width: 100%;
	border: none;
	box-shadow: none;
	margin: 0;
}

/* HEADER : nom en deux parties superposée, avec un retour à la ligne */

.font-light {
	display: block;
}

/* MAIN : une seule colone, avec l'aside au dessus du section */

main {
	display: flex;
	flex-direction: column-reverse; /* l'aside est placé après le section dans le html, d'où la nécéssité de les inverser */
}

/* ASIDE : réduire la taille = reprendre l'esthéituqe section */
	/* ------------ modifs pour la meme pres que section */
aside {
	background-color: #F2D7D5;
	color: #424949;
}

aside .titre-article {
	display: block;
	display: flex;
	border-bottom: #C0392B solid 0.1rem;
}

aside h1 {
	background: none;
	text-align: center;
	font-weight: bold;
	color: #424949;
	font-size: 1.5rem;
}

aside a {
	text-decoration: none;
	color: #424949;
}

aside article{
    margin: 1rem 6%;
}

aside article>h1, .bas-page>h1 {
	display: none;
}

	/* ------------ autres modifs */
aside .paragraphe {
	margin: 1rem 6%; /* pour avoir une marge proportionnelle aux paragraphes de section, il faut doubler la marge de 6% (rapport 1 tiers, 2 tiers) */
}

aside article:first-child .paragraphe {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -0.5rem; /* correction d'un bug d'interprétation induit par le wrap */
}

aside ul {
	display: block;
	padding-inline-start: 1rem;
	margin-block-start: 0;
    margin-block-end: 0;
}

aside article:last-child .paragraphe {
	margin: 1rem 6%; /* à répéter après la déclaration sur l'ul, pour annuler ses propriétés */
}

aside .icones-loisirs {
	display: none;
}

/* SECTION : supprimer marge de fin d'article */

section article:last-child {
	margin-bottom: 0;
}

}