/* --------------------- GENERAL */
#conteneur {
	font-family: HelveticaNeue, RobotoLight;
	width: 900px; /* à 50%, sur écran Ugo cela donne 888px ; arrondie à 900px, proportion proche de la feuille A4 donnée en exemple */
	margin:auto;
	background-color: red;
	border-color: black;
	border: grey solid 0.05rem;
	border-radius: 5px;
	box-shadow: 5px 5px 10px grey;
	color: #424949;
	font-size: 0.8rem;
}

h1, h2, #nom {
	text-transform: uppercase;
	text-align: left;
}

h1 {
	margin-block-start: 0; /*suppression du margin automatiquement decidé par le navigateur */
    margin-block-end: 0;
}

.icone-rouge {
	filter: invert(25%) sepia(83%) saturate(1802%) hue-rotate(345deg) brightness(91%) contrast(85%); /* code pen qui permet re changer la couleur d'un svg https://codepen.io/sosuke/pen/Pjoqqp */
}

.icone-rosepale {
	filter: invert(89%) sepia(3%) saturate(2544%) hue-rotate(314deg) brightness(105%) contrast(90%);
}

/* FONTS : https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/ */

@font-face { /* regular */
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue/HelveticaNeue-Regular-02.ttf') format('truetype');
    src: url('../font/HelveticaNeue/HelveticaNeue-Regular-02.woff') format('woff');
    src: url('../font/HelveticaNeue/HelveticaNeue-Regular-02.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* medium */
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue/HelveticaNeue-Medium-11.ttf') format('truetype');
    font-weight: bold;
}

@font-face { /* bold */
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue/HelveticaNeue-Bold-01.ttf') format('truetype');
    font-weight: bolder;
}

@font-face { /* regular italic */
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue/HelveticaNeue-Italic-04.ttf') format('truetype');
    font-style: italic; /* oblique et italique ne peuvent être séparé par une virgule depuis CSS3 */
}

@font-face { /* regular oblique */
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue/HelveticaNeue-Italic-04.ttf') format('truetype');
    font-style: oblique;
}

@font-face { /* light */
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue/HelveticaNeue-Light-05.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../font/RobotoLight/Roboto-Light-webfont.eot');
    src: url('../font/RobotoLight/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoLight/Roboto-Light-webfont.woff') format('woff'),
         url('../font/RobotoLight/Roboto-Light-webfont.ttf') format('truetype'),
         url('../font/RobotoLight/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-medium {
	font-weight: bolder; /* bold ou bolder : il utilise la meme, ce n'est donc pas compris par le CSS */
	}

.font-light {
	font-weight: lighter; /* ne marche oas : tjr regular */
}

.maincolor {
	color: #C0392B;
}


/* --------------------- HEADER */
header {
	display: flex;
	flex-direction: row-reverse; /* le "entete" est avant le "portrait", d'où la nécéssité de les inverser */
	width: 100%;
	background-color: green;
}

#enveloppe-entete {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #F2D7D5;
}

#entete {
	padding: 0 6%;
}

#nom {
	font-size: 3.5rem;
}

#poste {
	font-size: 1.5rem;
}

#ligne-poste {
	border-bottom: 0.1rem solid #C0392B;
	width: 4rem;
}

#enveloppe-portrait {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #C0392B;
}

#portrait  {
	padding: 12% 0;
	/* pourquoi justify-content et align-items "center" ne marchent pas, je ne sais pas ! de fait, utiliser margin auto */
}

#medaillon {
	display: flex; /* retient le border autour de l'image */
	border: rgb(0,0,0,0.33) solid 4px; /* transparence dans le rgb, plutôt qu'un opactity qui a de l'hérédité */
    border-radius: 50%; /* proportion pour un cercle parfait */
	width: 80%; /* prends 80% de portrait */
	margin: auto; /* pour centrer */
}

#portrait img {
	width: 100%; /* prend 100% de medaillon */
	clip-path: circle(50% at center); /* masque d'ecrêtage. empêche l'emploi facile d'un border */
}

/* --------------------- MAIN */
main {
	display: flex;
	text-align: justify;
	flex-direction: row-reverse; /* l'aside est placé après le section dans le html, d'où la nécéssité de les inverser */
}

	/* ------------------------------------------  SECTION */
section {
	flex: 2;
	background-color: #F2D7D5;

}

section h1 {
	font-size: 1.5rem;
}

section h2 {
	font-size: 1rem;
}

section article{
	display: flex;
	flex-direction: column;
	margin: 1rem 6%;
}

section .titre-article {
	display: flex;
	border-bottom: #C0392B solid 0.1rem;
}

section .corps-article {
	margin-top: 1rem
	margin-bottom: 2rem;
}

section .paragraphe {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 1rem 0;
}

section .sous-paragraphe {
	flex-basis: 67%;
}

section .bloc-info {
	display: flex;
	flex-direction: row;
	flex-basis: 34%;
	margin-top: 0.05rem;
}

section .date-lieu {
	margin-left: 0.75rem;
}

section .point-cercle {
	margin-top: 0.075rem;
}

section .point {
	margin-top: 0.3rem;
}

.icones-section {
	width: 2rem;
	min-width: 2rem;
	color: #C0392B;
	margin-right: 1rem;
}

section h2, section h3, section p {
	margin: 0;
	margin-bottom: 3%;
}

section article:first-child .titre-article {
	margin-top: 1rem;
}

section h1 {
	margin: 0;
}

section article:last-child .sous-paragraphe {
	flex-basis: 45%;
}

section article:last-child h2 {
	font-size: 0.8rem;
	margin-bottom: 2%;
}

section article:last-child h3 {
	text-transform: capitalize;
	font-size: 0.8rem;
	margin-bottom: 1%;
}

.point {
  height: 0.4rem;
  width: 0.4rem;
  min-height: 0.4rem;
  min-width: 0.4rem;
  background-color: #C0392B;
  border-radius: 50%;
  display: inline-block;
}

.point-cercle {
  height: 0.3rem;
  width: 0.3rem;
  min-height: 0.3rem;
  min-width: 0.3rem;
  background-color: #C0392B;
  border-radius: 50%;
  border: double #F2D7D5 0.3rem;
  display: inline-block;
}

	/* ------------------------------------------  ASIDE */
aside {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #C0392B;
	color: #F2D7D5;
}

aside a { /* enlever soulignement et couleur des liens tout en restant cliquable */
	text-decoration: none;
	color: #F2D7D5;
}

aside .paragraphe {
	margin: 1rem 12%; /* pour avoir une marge proportionnelle aux paragraphes de section, il faut doubler la marge de 6% (rapport 1 tiers, 2 tiers) */
}

aside .sous-paragraphe {
	margin-bottom: 6%;
}

aside .titre-article {
	display:none;
}

aside h1 {
	background-color: #A6ACAF;
	font-size: 1.5rem;
	color: #C0392B;
	text-align: center;
	font-weight: bold;
	padding: 0.25rem;
}

aside h2 {
	font-size: 0.8rem;
	font-weight: normal;
	margin: 0;
	text-transform: capitalize;
}

aside p {
	margin: 0;
}

aside article:last-child {  /* article "loisirs" ; pour que la flexbox aille jusqu'en bas, auto sur l'article "loisirs" */
	flex: auto;
	display: flex;
	align-items: flex-end; /* et ses items commencent en bas */
}

aside ul {
	display: none;
}

.bas-page {
	width: 100%;
	display: flex;
	flex-direction: column; /* pour que le titre "loisir" soit au dessus des icônes */
}

.bas-page .paragraphe {
	width: auto;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.icones-loisirs {
	width: 20%; /* 20% de paragraphe */
}